# Entorno virtual
venv/
**/venv/

# Variables de entorno
.env
**/.env

# Caché de Python
__pycache__/
**/__pycache__/
*.pyc

# Archivos de configuración local de VS Code
.vscode/

#Archivos de configuracion de pycharm (por lo general no se suben)
**/.idea
**/pyproject.toml

#Archivo de bloqueo creado por uv, herramienta moderna para
#manejar dependencias de python
**/uv.lock