DB_SERVER=[ServerName]
DB_NAME=[Database-Name]
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_TRUSTED_CONNECTION=yes

JWT_SECRET_KEY=cambiar-esta-clave-por-una-clave-larga-y-segura
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=120
DUENA_LOGIN_USUARIO=duena
DUENA_LOGIN_NOMBRE=Dueña H&D Boutique
DUENA_PASSWORD_SALT=hdboutique-dev-salt
DUENA_PASSWORD_HASH=affb37fd7ee3f2bdd39b4fcbb5dd6bb2d54126d2eaa15841b8861df6619f24b2
